@import-normalize;
@import 'variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  font-family: 'HelveticaNeueCyr', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}